ReWriteEngine On

ReWriteRule ^signup?$ pages/register.php
ReWriteRule ^signin?$ pages/login.php
ReWriteRule ^logout?$ pages/logout.php
ReWriteRule ^upload?$ pages/addpost.php

ReWriteRule ^profile?$ pages/myprofile.php
ReWriteRule ^account?$ pages/myaccount.php



ReWriteRule ^home?$ index.php







