ReWriteEngine On

ReWriteRule ^signup?$ pages/register.php
ReWriteRule ^signin?$ pages/login.php
ReWriteRule ^dashboard?$ index.php
ReWriteRule ^logout?$ pages/logout.php
ReWriteRule ^user?$ pages/users.php
ReWriteRule ^useredit?$ pages/useredit.php
ReWriteRule ^faqs?$ pages/faq.php
ReWriteRule ^category?$ pages/categories.php
ReWriteRule ^posts?$ pages/posts.php
ReWriteRule ^feedback?$ pages/feedback.php







